/* Reset styles */



* {
    box-sizing: border-box;
}
html, body, div, image {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
body {
    line-height: 1;
}

figure {
    display: inline
}

/* Side menu */



#sidebar {
    background: rgb(54, 54, 54);
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    padding: 20px 0;
    transition: all 0.5s ease;
}

#me {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    align-items: center;
}

#me:hover {
    opacity: 0.5;
}

#menu {
    padding-top: 20px;
    padding-left: 0;
    list-style: none;
}

.sidebar #menu li {
    color: white;
}

.list-item {
    padding-top: 7.5px;
    padding-bottom: 7.5px;
    width: auto;
    text-align: center;
}

.list-item a {
    font-size: 22px;
}

.list-item:hover {
    background-color: rgb(72, 72, 72);
}

.anchor {
    color: white;
    font-family: Montserrat, sans-serif;
    text-decoration: none;
}

.anchor:hover {
    color:rgb(142, 142, 142);
}



/* Top header */



#main-content {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    height: 100%;
    margin-left: 200px;
    background: rgb(255, 248, 222);
}

#header {
    background-color: rgb(78, 78, 78);
}

#header .intro-header {
    width: auto;
    margin: 0;
    padding-top: 10px;
    padding-left: 10px;
    font-family: Montserrat, sans-serif;
    font-size: 34px;
}

#header header {
    color: rgb(183, 183, 183);
}

.horizontal {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.abbr {
    background-color: rgb(56, 56, 56);
    height: 70px;
    position: sticky;
    top: 80px;
    left: 200px;
}

.abbr li {
    float: left;
}

.abbr li abbr {
    display: block;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 15px;
    font-family: Montserrat, sans-serif;
    text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;
}

.abbr abbr:hover {
    background-color: rgb(72, 72, 72);
}

.abbr a {
    text-decoration: none;
}

/* Contact me form */

.page-content.contact {
    justify-content: left !important;
}

.contact-me-header {
    padding: 10px;
}

.contact-me-info {
    padding-left: 10px;
    margin: 0;
    font-family: Montserrat, sans-serif;
}

.contact-me-info a {
    text-decoration-line: underline;
    text-decoration-thickness: 0.5px;
    text-underline-offset: 2px;
    color: rgb(255, 255, 255);
}

.contact-me-info a:hover {
    color:rgb(183, 183, 183);
    text-decoration: none;
}

.horizontal li {
    float: left;
    padding: 10px;
    font-family: Montserrat, sans-serif;
}

.horizontal li:hover {
    color: white;
}

#contact-form {
    display: inline-block;
    padding: 10px;
}

#contact-form>form {
    justify-content: left;
}

.contact-name {
    margin: 5px;
}

.contact-email {
    margin: 5px;
}

.contact-content {
    margin: 5px
}

.contact-submit{
    margin: 5px;
}

#contact-me {
    padding: 0 !important;
}

#contact-me input:focus {
    background-color: rgb(217, 217, 217);
}


/* Index main content */


.page-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 50% 0 0;
}

.page-content #under-construction {
    flex-basis: 100%;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.image {
    margin: 10px;
}

.image img {
    max-width: 560px;
    width: 100%;
    height: auto;
}

.image p {
    margin: 0;
    font-family: 'Roboto Mono', monospace;
}

.aside {
    max-width: 50%;
    width: 100%;
    position: absolute;
    left: 50%;
}

.aside p {
    padding-left: 8px;
    padding-right: 8px;
    text-align: justify;
    font-family: 'Roboto', sans-serif;
    font-size: larger;
    line-height: 1.4;
}