#sidebar {
    background: rgb(54, 54, 54);
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    padding: 20px 0;
    transition: all 0.5s ease;
}

#me {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    align-items: center;
}

#me:hover {
    opacity: 0.5;
}

#menu {
    padding-top: 20px;
    padding-left: 0;
    list-style: none;
}

.sidebar #menu li {
    color: white;
}

.list-item {
    padding-top: 7.5px;
    padding-bottom: 7.5px;
    width: auto;
    text-align: center;
}

.list-item a {
    font-size: 22px;
}

.list-item:hover {
    background-color: rgb(72, 72, 72);
}

.anchor {
    color: white;
    font-family: Montserrat, sans-serif;
    text-decoration: none;
}

.anchor:hover {
    color:rgb(142, 142, 142);
}

#main-content {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    height: 100%;
    margin-left: 200px;
    background: rgb(255, 248, 222);
}

#header {
    background-color: rgb(78, 78, 78);
}

#header h1{
    width: 330px;
    margin: 0;
    padding-top: 10px;
    padding-left: 10px;
    font-family: Montserrat, sans-serif;
    text-justify: inter-word;
}

.horizontal {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;;
}

.horizontal li {
    float: left;
    padding: 10px;
    font-family: Montserrat, sans-serif;
}

.abbr {
    background-color: rgb(56, 56, 56);
}

.abbr li {
    float: left;
}

.abbr li abbr {
    display: block;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 15px;
    font-family: Montserrat, sans-serif;
    text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;
}

.abbr abbr:hover {
    background-color: rgb(72, 72, 72);
}

.abbr a {
    text-decoration: none;
}

p {
    position: fixed;
    top: 50%;
    left: 50%;
}