#sidebar {
    background: rgb(54, 54, 54);
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    padding: 20px 0;
    transition: all 0.5s ease;
}

#me {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    align-items: center;
}

#me:hover {
    opacity: 0.5;
}

#menu {
    padding-top: 20px;
    padding-left: 0;
    list-style: none;
}

.list-item {
    padding-bottom: 15px;
    width: auto;
    text-align: center;
}

.anchor {
    color: white;
    font-family: Montserrat;
    text-decoration: none;
}

.anchor:hover {
    color:rgb(142, 142, 142);
}

#main-content {
    height: 100%;
    margin-left: 192px;
    padding-left: 8px;
}

.horizontal {
    list-style-type: none;
    padding: 0;
}